.file-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 0;
  margin-top: 10px;
}

.file-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  color: black;
  background-color: #f9f9f9; /* 카드의 배경 색 */
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.file-item:hover {
  background-color: #007bff;
  color: white;
  transform: translateY(-5px); 
}

.file-item:active {
  background-color: #003f73;
  transform: translateY(2px); 
}

.Download-title {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden;    /* 텍스트가 넘칠 경우 숨기기 (선택 사항) */
  text-overflow: ellipsis; /* 텍스트가 넘치면 '...' 표시 (선택 사항) */
}

.Download-title h1 {
  font-size: 32px; 
  font-weight: bold;
  letter-spacing: 2px;
  color: #2c3e50;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

/* 작은 화면에서 버튼들 크기 조정 */
@media (max-width: 768px) {
  .file-item {
      font-size: 14px;
      padding: 12px;
  }

  .file-list {
      grid-template-columns: repeat(2, 1fr); /* 작은 화면에서는 2개의 버튼을 한 행에 배치 */
  }
}

@media (max-width: 480px) {
  .file-list {
      grid-template-columns: 1fr; /* 더 작은 화면에서는 1개의 버튼을 한 행에 배치 */
  }
}