/* 로그인 화면 컨테이너 */
.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
h1 {
  margin-top: 5px;
  font-size: 36px;
  color: black;
}

/* 입력 필드 스타일 */
.input-field, .submit-button {
  width: 260px;  /* 가로 사이즈를 260px로 고정 */
  padding: 12px;
  margin: 5px 0;  /* 위아래 여백 */
  box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
  font-size: 16px;
  border-radius: 8px;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* 링크 버튼 스타일 */
.link-container button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}
